<h1><%= @the_user.username %></h1>

<dl>
  <dt>
    Private
  </dt>
  <dd>
    <%= @the_user.private %>
  </dd>

  <dt>
    Followers
  </dt>
  <dd>
    <div><%= @the_user.followers.count %></div>
    <% if @followrequest %>
      <form action="/delete_follow_request" method="post">
        <label for="unfollow_user"></label>
        <input type="hidden" name="query_recipient_id" id="unfollow_user" value="<%= @user.id %>">
        <button>Unfollow</button>
      </form>
    <% else %>
      <form action="/insert_follow_request" method="post">
        <label for="like_user"></label>
        <input type="hidden" name="query_recipient_id" id="like_user" value="<%= @user.id %>">
        <button>Follow</button>
      </form>
    <% end %>
  </dd>

  <dt>
    Following
  </dt>
  <dd>
    <%= @the_user.following.count %>
  </dd>
</dl>

<ul>
  <li>
    <a href="/users/<%= @the_user.username %>">Profile</a>
  </li>

  <li>
    <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
  </li>

  <li>
    <a href="/users/<%= @the_user.username %>/feed">Feed</a>
  </li>

  <li>
    <a href="/users/<%= @the_user.username %>/discover">Discover page</a>
  </li>
</ul>

<h2>Own photos (<%= @the_user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>
  </tr>

  <% @the_user.own_photos.each do |a_photo| %>

    <tr>
      <td>
        <img src=<%= a_photo.image %>>
      </td>

      <td>
        <%= a_photo.owner.username %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= a_photo.created_at %>
      </td>

      <td>
        <%= a_photo.likes.count %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
