<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
  <% if current_user != nil %>
    <form action="/insert_photo" method="post" class="form-horizontal">
      <label for="image_box">
        Image
      </label>
      <input type="file" name="query_image" id="image_box">
      
      <label for="caption_box">
          Caption
      </label>
      <textarea id="caption_box" name="query_caption" rows="3" placeholder="Enter a caption"></textarea>

      <label for="owner_id"></label>
      <input type="hidden" name="query_owner_id" id="owner_id">

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes count
        </th>

        <th>
        </th>
      </tr>

      <% if current_user != nil %>
        <% @list_of_photos.each do |a_photo| %>
        <tr>
          <td>
            <img src="<%= a_photo.image %>" alt="Image">
          </td>

          <td>
            <%= a_photo.caption %>
          </td>

          <td>
            <%= a_photo.comments_count %>
          </td>

          <td>
            <%= a_photo.image %>
          </td>

          <td>
            <%= a_photo.likes_count %>
          </td>

          <td>
            <%= a_photo.owner.username %>
          </td>

          <td>
            <%= time_ago_in_words(a_photo.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_photo.updated_at) %> ago
          </td>

          <td>
            <a href="/photos/<%= a_photo.id %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      <% else %>
      <% end %>
    </table>
  </div>
</div>
