<div>
  <div>
    <h1>
      Photo details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" alt="Photo Image">
      </dd>
      
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
      
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= @the_photo.created_at %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% @fans.each do |a_fan| %>
          <%= @a_fan.username %>
        <% end %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        <% if @liked == true %>
          <form action="/remove_like" method="post">
            <label for="photo_id_like"></label>
            <input type="hidden" name="query_photo_id" id="photo_id_like" value="<%= @the_photo.id %>">
            <button>Unlike</button>
          </form>
        <% elsif @liked == false %>
          <form action="insert_like" method="post">
            <label for="photo_id_like"></label>
            <input type="hiddne" name="query_photo_id" id="photo_id_like" value="<%= @the_photo.id %>">
            <button>Like</button>
          </form>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Comments
    </h2>

    <table>
      <tr>
        <th>
          Commenter
        </th>
        <th>
          Comment
        </th>
        <th>
          Posted
        </th>
      </tr>
      <% @comments.each do |a_comment| %>
      <tr>
        <td>
          <%= comment.commenter.username %>
        </td>

        <td>
          <%= comment.body %>
        </td>

        <td>
          <%= comment.created_at %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <div>
    <h3>Add a new comment</h3>

    <form action="/insert_comment" method="post">
      <label for="photo_id"></label>
      <input type="hidden" name="query_photo" id="photo_id" value="<%= @the_photo.id %>">
      <label for="comment_box">Comment</label>
      <textarea name="query_comment" id="comment_box" placeholder="Leave a comment..."></textarea>
      <button>Add comment</button>
    </form>
  </div>
</div>
